.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding-bottom: 100px;
}
/* Style for the back to the top button */
.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: #551B54;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #551B54;
    border: 2px solid #551B54;
  }
/* Style for the back to the top button  END*/

  

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
}

@media(min-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}